.navbar {
    display: flex;
    justify-content:center;
    
  }
  
  .navbar h2 {
    margin: 0;
    padding: 10px;
    text-decoration: underline;
    color: blue;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    color: blue;
    
  }
  .navbar a:hover,
  .navbar a:focus {
    background-color: lightblue;
    color: white;
    cursor: pointer;
  }
  p{
    margin-left: 10%;
    font-weight:bold;
  }
  h3{
    color: orange;
    font-size: 25px;
    margin: 10px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .container {
    font-weight: bold;
    color:black;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    list-style-position: inside;
    background-clip:text;

  }
  .tt h2{
    color: blueviolet;
    text-decoration:underline;
  }
  .tt h2, p {
    display: block;
    margin: 5px;
    padding: 5px;
    
  }
  .image-container{
   margin: 20px; /* Resmin etrafına 20 piksel margin uygula */
  text-align: center;  

  }
 
  

  